#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	$(MAKE) install-profiled       ROOT=debian/profiled
	$(MAKE) install-libprofile     ROOT=debian/libprofile0
	$(MAKE) install-libprofile-dev ROOT=debian/libprofile-dev
	$(MAKE) install-libprofile-doc ROOT=debian/libprofile-doc
	$(MAKE) install-profileclient  ROOT=debian/profileclient
	$(MAKE) install-profile-data   ROOT=debian/profile-data
	$(MAKE) install-profile-data-dev ROOT=debian/profile-data-dev
	dh_install
